@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgba(169, 169, 169, 0.315);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 68, 0, 0.849);
}

div.header {
    margin: 20px;
}

div.header h1 {
    font-size: 2.5em;
}

div.header h1, p {
    margin: 0px;
}

input#itxt {
    border: 2px solid rgba(138, 37, 0, 0.842);
    border-radius: 20px;
    height: 35px;
    width: 250%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

form {
    width: 350px;
}

div#pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.material-symbols-outlined {
    font-size: 45px;
    font-weight: bold;
    color: rgb(119, 34, 0);
}

main {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

main p {
    line-height: 1.7em;
    text-align: justify;
    text-indent: 20px;
}

footer {
    color: rgb(212, 164, 74);
    background-color: rgba(7, 5, 2, 0.952);
}

section.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.logo {
    margin: 20px;
}

div.logo h1 {
    margin: 0px;
    font-size: 2.5em;
}

div.palavras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
}

div.palavras p {
    padding: 10px;
    font-size: 0.8em;
}

section.seg {
    color: white;
    padding: 20px;
}

div.texto {
    width: 300px;
}

hr {
    width: 60%;
    border: 0;
    border-top: 0.01em solid #eee;
}