@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgba(169, 169, 169, 0.315);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 68, 0, 0.849);
}

div.header {
    margin: 20px;
}

div.header h1 {
    font-size: 2.5em;
}

div.header h1, p {
    margin: 0px;
}

main {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

main p {
    line-height: 1.7em;
    text-align: justify;
    text-indent: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(212, 164, 74);
    background-color: rgba(7, 5, 2, 0.952);
}

div.logo {
    margin: 20px;
}

div.logo h1 {
    margin: 0px;
    font-size: 2.5em;
}

div.palavras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
}

div.palavras p {
    padding: 10px;
    font-size: 0.8em;
}