.wrapper div {
    background-color: royalblue;
    padding: 1rem;
}

.wrapper div:nth-child(even) {
    background-color: skyblue;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 10px;
    grid-template-rows: 200px 200px 200px;
    row-gap: 10px;
}