.wrapper div {
    background-color: royalblue;
    padding: 1rem;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper div:nth-child(even) {
    background-color: skyblue;
}

.wrapper div:nth-child(1) {
    grid-column: 1/-1;
    height: 400px;
}

.wrapper div:nth-child(2) {
    grid-column: 1;
}

.wrapper div:nth-child(3) {
    @media (min-width: 768px) {
        grid-column: 2 / 5;
    }
}

.wrapper div:nth-child(5) {
    grid-column: 1 / -1;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
    }
}